<md-content layout-fill layout="column" layout-align="start stretch">

  <div class="toolbar-small" flex="10">

    <div class="md-toolbar-tools small" layout="row" layout-align="center center">

      <md-button class="md-icon-button no-margin-bottom" aria-label="conversas" ng-click="vm.goback()">
        <md-icon md-font-set="material-icons">
          arrow_back

        </md-icon>
      </md-button>

      <p class="bold white">{{vm.nomeAmigo}}</p>

    </div>
  </div>

  <div flex="35" class="card-mensagem chat" style="background-color: antiquewhite">

    <md-card ng-repeat="msg in vm.mensagens" class="animated slideInUp once card-mensagem" ng-class="vm.usuario.id == msg.remetente ? 'card-remetente' : 'card-destinatario'">
      <div layout="row">
        <span class="mensagem" flex>{{msg.mensagem}}</span>


      </div>
      <div layout="row" class="no-padding-vertical no-margin-bottom" layout-align="end end">
        <span class="dataHoraMensagem"> {{msg.dataMensagem | date:'HH:mm'}}</span>
      </div>

    </md-card>
    <span id="bottom" ng-init="vm.scroll();"></span>
  </div>


  <div flex="10" class="no-padding-vertical">
    <div layout="row">
      <md-input-container class="md-block no-padding-vertical no-margin-bottom" flex>
        <input ng-model="vm.mensagem" placeholder="Digite aqui..." required>

      </md-input-container>
      <md-button class="md-icon-button no-margin-bottom" aria-label="conversas" ng-click="vm.enviarMensagem()">
        <md-icon md-font-set="material-icons">
          send
        </md-icon>
      </md-button>
    </div>
  </div>

</md-content>