<md-content class="padding" layout-fill>
  <form ng-submit="vm.enviarMensagem()">



    <md-toolbar class="toolbar-small">
      <div class="md-toolbar-tools small">


        <p>{{vm.usuarioConversa.nome}}</p>

      </div>
    </md-toolbar>

    <div layout="column" layout-fill>
      <div flex="95" style="background-color: antiquewhite">
        <md-card ng-repeat="msg in vm.mensagens" class="animated slideInUp once" ng-class="msg.suaMensagem ? 'card-remetente' : 'card-destinatario'">
          <div layout="row">
            <span class="mensagem" flex>{{msg.mensagem}}</span>

            <span class="dataHoraMensagem"> {{msg.dataMensagem | date:'MM/dd/yyyy'}}</span>
          </div>



        </md-card>
      </div>
      <div flex="5" class="no-padding-vertical" layout="row">
        <md-input-container class="md-block no-padding-vertical no-margin-bottom" flex>
          <input ng-model="vm.mensagem" placeholder="Digite aqui..." required>

        </md-input-container>
        <md-button class="md-icon-button no-margin-bottom" aria-label="conversas" ng-click="vm.enviarMensagem()">
          <md-icon md-font-set="material-icons">
            send
          </md-icon>
        </md-button>
      </div>

    </div>
  </form>

</md-content>