<md-content class="md-padding animated slideInDown once" flex layout="column" layout-align="space-between center">


    <md-list layout-fill>

        <md-subheader class="md-no-sticky no-padding-vertical">
            <div layout="row" layout-align="center end">
                <span ng-show="vm.conversas.length > 0">Suas conversas</span>
                <span ng-show="vm.conversas.length == 0">Você ainda não iniciou nenhuma conversa</span>
            </div>
        </md-subheader>

        <md-list-item style="overflow: hidden !important;" ng-click="vm.abrirConversa(jogador)" class="md-2-line"
            ng-repeat="jogador in vm.conversas | orderBy: 'nome' | filter: vm.pesquisa">

            <div class=" md-list-item-text" layout="row">
                <div layout="column" class="no-padding-vertical" flex="60">
                    <h3>{{ jogador.nomeAmigo}}</h3>
                    <p>{{ jogador.textoUltimaMensagem }}</p>
                </div>


            </div>
            <md-button class="md-secondary md-icon-button" ng-click="vm.copiar(jogador)">
                {{jogador.dataUltimaMensagem}}


            </md-button>
            <md-button class="md-secondary md-icon-button">
                <md-icon md-font-set="material-icons" ng-show="jogador.mensagens">
                    message
                </md-icon>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>


    </md-list>

    <md-button class="md-primary md-raised" ng-click="vm.listarUsuariosConversa()" ng-show="vm.conversas.length == 0">
        Iniciar conversa
    </md-button>
</md-content>