<md-content class="md-padding animated slideInDown once" flex layout="column" layout-align="space-between stretch">


    <md-list>

        <md-subheader class="md-no-sticky no-padding-vertical">
                <div layout="row" layout-align="center end">
                    Essa funcionalidade ainda está em fase de desenvolvimento, por favor evitar o uso
                </div>
            <div layout="row" layout-align="center end">

                <span ng-show="vm.conversas.length > 0">Suas conversas</span>
                <span ng-show="vm.conversas.length == 0">Você ainda não iniciou nenhuma conversa</span>
            </div>
        </md-subheader>

        <md-list-item ng-click="vm.abrirConversa(jogador)" class="md-2-line" ng-repeat="jogador in vm.conversas | orderBy: 'nome' | filter: vm.pesquisa">

            <div class=" md-list-item-text" layout="row">
                <div layout="column" class="no-padding-vertical" flex="80">
                    <span class="bold">{{ jogador.nomeAmigo}}</span>
                    <p>{{ jogador.textoUltimaMensagem | ultimaMensagem}}</p>
                </div>


            </div>
            <div layout="row" class="no-padding-vertical no-margin-bottom" layout-align="end end">
                <span class="dataHoraMensagem"> {{jogador.dataUltimaMensagem | date:'HH:mm'}}</span>
            </div>


            <md-divider></md-divider>
        </md-list-item>


    </md-list>

    <md-button class="md-primary md-raised" ng-click="vm.listarUsuariosConversa()">
        Iniciar nova conversa
    </md-button>
</md-content>