<md-dialog aria-label="Cadastro">
    <form ng-cloak name="userForm">
        <md-toolbar class="primary">
            <div class="md-toolbar-tools">
                <h2>Cadastro</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Apelido (no jogo)</label>
                        <input ng-model="vm.apelido" type="text" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Nível  (opcional) </label>
                        <input ng-model="vm.nivel" type="number">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                      
                        <md-input-container>
                            <label>Código </label>
                            <input ng-model="vm.codigo" type="number" required>
                        </md-input-container>
                    </div>
    

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Time (opcional)</label>
                    <md-select ng-model="vm.time" required>
                        <md-option ng-repeat="time in vm.times" value="{{time.codigo}}">
                            {{time.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="vm.answer(userForm)" class="primary">
                Cadastrar
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>