<md-dialog aria-label="Mapa" style="min-width: 360px !important">

    <md-toolbar class="md-primary md-raised toolbar-small">
        <div class="md-toolbar-tools">
            <span class="bold">Ginásios</span>


        </div>

        <md-subheader class="no-padding-vertical" layout="column" flex>


            <md-input-container class="md-icon-float md-icon-left md-block" style="margin-bottom: 0px;">

                <md-icon md-font-set="material-icons">search</md-icon>
                <input ng-model="vm.textoPesquisa" placeholder="Pesquisar" type="text">

            </md-input-container>
        </md-subheader>
    </md-toolbar>

    <md-dialog-content style="margin-top: 50px;">


        <md-list flex>
            <md-list-item class="md-line lista-ginasios" style="line-height:37px !important"
                ng-repeat="local in vm.locais  | ginasiosFilter: vm.textoPesquisa" ng-click="vm.escolherLocal(local)">

                <div class="md-list-item-text no-padding-vertical" layout="column">

                    <h3>{{ local.codigo <= 9 ? "0" + local.codigo + " - " : local.codigo + " - " }}{{local.nome}}</h3>
                </div>
                <md-divider></md-divider>

            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-dialog-content>



</md-dialog>