<md-content class="md-padding" layout-fill style="overflow: hidden !important;">
    <span class="legenda-mensagem">
        <md-icon md-font-set="material-icons">
            message
        </md-icon> aceita receber mensagens

    </span>
    <md-subheader class="md-no-sticky no-padding-vertical" flex>

        <p class="bold" flex>
            Pressione sobre o jogador desejado para copiar o código

        </p>
        <md-input-container class="md-icon-float md-icon-left md-block" style="margin-bottom: 0px;">

            <md-icon md-font-set="material-icons">search</md-icon>
            <input ng-model="vm.pesquisa" placeholder="Pesquisar" type="text" ng-change="vm.pesquisar()">

        </md-input-container>
    </md-subheader>

    <md-virtual-repeat-container id="vertical-container" ng-style="vm.getListHeight()" layout-fill>


        <div md-virtual-repeat="jogador in vm.usuarios" md-on-demand class="repeated-item md-no-style md-button md-ink-ripple button-list"
            flex ng-click="vm.copiarCodigoJogador(jogador)">

            <div style="padding: 4px;" layout="row" layout-align="start center">
                <div layout="column" class="no-padding-vertical" flex="60">
                    <span class="bold">{{ jogador.nome}}</span>
                    <p>{{ jogador.codigo }}</p>
                </div>
                <div layout="column" class="no-padding-vertical" flex layout-align="center center">
                    <md-button class=" md-fab md-mini md-primary fab-menor" aria-label="nivel" ng-show="jogador.nivel !== undefined && jogador.nivel !== 0">
                        {{ jogador.nivel}}
                    </md-button>
                </div>
                <div layout="column" layout-align="center center" class="no-padding-vertical" flex>
                    <img src="../images/fire.png" width="20px" height="20px" ng-show="jogador.time == 1 && jogador.time !== undefined">
                    <img src="../images/snowflake.png" width="20px" height="20px" ng-show="jogador.time == 2 && jogador.time !== undefined">
                    <img src="../images/lightning.png" width="20px" height="20px" ng-show="jogador.time == 3 && jogador.time !== undefined">
                </div>
                <div layout="column" layout-align="center center" class="no-padding-vertical" flex>
                    <md-icon md-font-set="material-icons" ng-show="jogador.mensagens">
                        message
                    </md-icon>
                </div>
            </div>

            <md-divider></md-divider>
        </div>
        <!--
        <div md-virtual-repeat="jogador in vm.grupo" md-on-demand class="repeated-item" flex ng-click="vm.copiarCodigoJogador(jogador)">

            <div class="md-list-item-text" layout="row">
                <div layout="column" class="no-padding-vertical" flex="60">
                    <span class="bold">{{ jogador.nome}}</span>
                    <p>{{ jogador.codigo }}</p>
                </div>
                <div layout="column" class="no-padding-vertical" flex>
                    <md-button class=" md-fab md-mini md-primary fab-menor" aria-label="nivel" ng-show="jogador.nivel !== undefined && jogador.nivel !== 0">
                        {{ jogador.nivel}}
                    </md-button>
                </div>
                <div layout="column" layout-align="center center" class="no-padding-vertical" flex>
                    <img src="../images/fire.png" width="20px" height="20px" ng-show="jogador.time == 1 && jogador.time !== undefined">
                    <img src="../images/snowflake.png" width="20px" height="20px" ng-show="jogador.time == 2 && jogador.time !== undefined">
                    <img src="../images/lightning.png" width="20px" height="20px" ng-show="jogador.time == 3 && jogador.time !== undefined">
                </div>
            </div>

            <md-button class="md-secondary md-icon-button">
                <md-icon md-font-set="material-icons" ng-show="jogador.mensagens">
                    message
                </md-icon>
            </md-button>
            <md-divider></md-divider>
        </div>
        -->
</md-content>