<md-toolbar class="toolbar-small">
    <div class="md-toolbar-tools small">
        <p flex>
            <md-icon ng-click="vm.toggle();" md-font-set="material-icons" ng-show="vm.logado">
                menu
            </md-icon>
            <span ng-show="vm.logado" class="title">{{menu.title}}</span>
            <span ng-show="!vm.logado">PG Rotas - Login </span>
        </p>
    </div>
</md-toolbar>
<div layout="column" ng-cloak flex class="padding-principal">
    <section layout=" row" flex>
        <md-sidenav class="md-sidenav-left sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4" ng-show="vm.logado">
            <md-toolbar class="md-theme-indigo primary">

                <div ng-show="vm.usuario == undefined" layout="row" layout-sm="column" layout-align="center center"
                    aria-label="wait" style="height:70px;">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div layout="column" ng-show="vm.usuario != undefined" class="animated fadeIn once">
                    <span class="sidenav-nome"> {{ vm.usuario.nome }}</span>
                    <md-divider></md-divider>
                    <span class="sidenav-nivel" ng-show="vm.usuario.nivel  > 0">Nível {{ vm.usuario.nivel }}</span>
                    <span class="sidenav-time" ng-show="vm.usuario.time.length > 0"> Time {{ vm.usuario.time | time }}
                        <img src="../images/fire.png" width="15px" height="15px" ng-show="vm.usuario.time == 1">
                        <img src="../images/snowflake.png" width="15px" height="15px" ng-show="vm.usuario.time == 2">
                        <img src="../images/lightning.png" width="15px" height="15px" ng-show="vm.usuario.time == 3">
                    </span>
                    <span class="sidenav-time">Grupo {{ vm.usuario.grupo | grupo}}
                </div>
            </md-toolbar>
            <md-content layout-padding>
                <md-list class="md-dense" flex>
                    <md-list-item ng-click="vm.toggle(); vm.editarDados()">
                        <md-icon md-font-set="material-icons">person</md-icon>
                        <p>Editar meus dados</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="vm.toggle(); vm.trocarGrupo();">
                        <md-icon md-font-set="material-icons">swap_horiz</md-icon>
                        <p>Ver outro grupo</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="vm.toggle(); vm.sair();">
                        <md-icon md-font-set="material-icons">logout</md-icon>
                        <p>Sair</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content ng-show="!vm.logado">

            <div layout="row" layout-align="center center">
                <md-card ng-show="!vm.logado">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Bem vindo(a)</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>Por favor, realize seu login com o google para acessar as funcionalidades. </p>
                        <div id="firebaseui-auth-container"></div>

                    </md-card-content>
                </md-card>
            </div>

        </md-content>

        <md-content layout="column" layout-fill layout-align="space-between stretch" ng-show="vm.logado">



            <md-tabs md-dynamic-height md-border-bottom md-no-pagination md-center-tabs md-stretch-tabs="always" class="md-primary"
                md-swipe-content="true">
                <md-tab>
                    <md-tab-label>
                        <span class="title">Ginásios</h3></span>
                    </md-tab-label>
                    <md-tab-body>

                        <ui-view name="viewMapas" flex></ui-view>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="title">Grupo</h3></span>
                    </md-tab-label>
                    <md-tab-body>
                        <ui-view name="viewGrupo" flex></ui-view>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="title">Mensagens</h3></span>
                    </md-tab-label>
                    <md-tab-body>
                        <ui-view name="viewConversas" class="height100"></ui-view>
                    </md-tab-body>
                    </md-tab-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>