<div layout="row" layout-align="center center">
  <md-card ng-show="!vm.logado">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Bem vindo(a)</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>Por favor, realize seu login com o google para acessar as funcionalidades. </p>
      <div id="firebaseui-auth-container"></div>

    </md-card-content>
  </md-card>
</div>
<md-content layout-fill ng-show="vm.logado">
  <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" class="md-primary">
    <md-tab label="Ginásios">
      <md-content class="md-padding">




        <md-button class="md-primary md-raised" ng-click="vm.mostrarMapa()" target="_blank" ng-show="vm.logado">
          <span">Mostrar Mapa</span>
        </md-button>


        <div class="card" layout-align="center center" layout="column" ng-show="vm.logado">


          <div class="card-header" style="font-weight: bold; background-color:#ba2f2f; ">
            Selecione o ginásio ou digite o código e aperte GO
          </div>

          <form ng-submit="vm.go()">
            <div layout="row" layout-align="center center">
              <div layout="column">
                <div layout="row">
                  <md-input-container>
                    <label>Ginásio</label>
                    <md-select ng-model="vm.localSelecionado" ng-change="vm.codigoLocal = vm.localSelecionado.codigo">
                      <md-option ng-repeat="local in vm.locais" ng-value="local">
                        {{ local.codigo <= 9 ? "0" + local.codigo + " - " : local.codigo + " - " }}{{local.nome}} </md-option>
                          </md-select> </md-input-container> </div> <div layout="row">
                          <md-input-container>
                            <label>Código do Ginásio</label>
                            <input ng-model="vm.codigoLocal" type="number" />
                          </md-input-container>
                </div>
              </div>
              <div layout="column" layout-align="center center">
                <button class="button-go"></button>
              </div>
            </div>

            <br />
          </form>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Grupo">
      <md-content class="md-padding" layout-fill style="overflow: hidden !important;">

        <md-list layout-fill style="overflow: hidden !important;">

          <md-subheader class="md-no-sticky no-padding-vertical">
            <div layout="row" layout-align="center end">
              Pressione sobre o jogador desejado para copiar o código

            </div>
            <md-input-container class="md-icon-float md-icon-left md-block" style="margin-bottom: 0px;">

              <md-icon md-font-set="material-icons">search</md-icon>
              <input ng-model="vm.pesquisa" placeholder="Pesquisar" type="text">

            </md-input-container>
          </md-subheader>

          <md-list-item style="overflow: hidden !important;" class="md-2-line" ng-repeat="pessoa in vm.usuarios | orderBy: 'nome' | filter: vm.pesquisa"
            ng-click="vm.copiar(pessoa)">

            <div class="md-list-item-text" layout="row">
              <div layout="column" class="no-padding-vertical" flex="60">
                <h3>{{ pessoa.nome}}</h3>
                <p>{{ pessoa.codigo }}</p>
              </div>
              <div layout="column" class="no-padding-vertical" flex ng-show="pessoa.nivel !== undefined && pessoa.nivel !== 0">
                <md-button class=" md-fab md-mini md-primary fab-menor" aria-label="Eat cake">
                  {{ pessoa.nivel}}
                </md-button>
              </div>
              <div layout="column" layout-align="center center" class="no-padding-vertical" flex ng-show="pessoa.time !== undefined">
                <img src="../images/fire.png" width="20px" height="20px" ng-show="pessoa.time == 1">
                <img src="../images/snowflake.png" width="20px" height="20px" ng-show="pessoa.time == 2">
                <img src="../images/lightning.png" width="20px" height="20px" ng-show="pessoa.time == 3">
              </div>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="vm.copiar(pessoa)">
              <md-icon md-font-icon="material-icons">file_copy</md-icon>

            </md-button>
            <md-button class="md-secondary md-icon-button" ng-click="vm.copiar(pessoa)">
              <md-icon ng-click="alert('rrrr');" md-font-set="material-icons" ng-show="pessoa.mensagens">
                message
              </md-icon>
            </md-button>
            <md-divider></md-divider>
          </md-list-item>

          <md-list-item style="overflow: hidden !important;" class="md-2-line" ng-repeat="pessoa in vm.grupo | orderBy: 'nome' | filter: vm.pesquisa"
            ng-click="vm.copiar(pessoa)">

            <div class="md-list-item-text" layout="row">
              <div layout="column" class="no-padding-vertical" flex="60">
                <h3>{{ pessoa.nome}}</h3>
                <p>{{ pessoa.codigo }}</p>
              </div>
              <div layout="column" class="no-padding-vertical" flex ng-show="pessoa.nivel !== undefined && pessoa.nivel !== 0">
                <md-button class=" md-fab md-mini md-primary fab-menor" aria-label="Eat cake">
                  {{ pessoa.nivel}}
                </md-button>
              </div>

              <div layout="column" layout-align="center center" class="no-padding-vertical" flex ng-show="pessoa.time !== undefined">
                <img src="../images/fire.png" width="20px" height="20px" ng-show="pessoa.time == 1">
                <img src="../images/snowflake.png" width="20px" height="20px" ng-show="pessoa.time == 2">
                <img src="../images/lightning.png" width="20px" height="20px" ng-show="pessoa.time == 3">
              </div>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="vm.copiar(pessoa)">
              <md-icon md-font-icon="material-icons">file_copy</md-icon>

            </md-button>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>